
.st-units {
  min-width: 5em;
  display: inline-block;
}

.form-group-sm .st-search-terms select {
  text-align-last: right;
  font-weight: 700;
  font-size: 14px;
}

.model-searchSettings-searchTerms .control-label {
  display: none;
}
